
.desktop_background {
    position: absolute;
    width: 1200px;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0px;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:
    url(../assets/Desktop_Backgrounds_1920x1200_6.png);

}
/* heroblock?*/
.heroblock {
    position: absolute;
width: 1315px;
height: 822px;
left: -97px;
top: 65px;
background-color: blue;
}
.h1hero {
    position: absolute;
    width: 386px;
    height: 118px;
    left: 407px;
    top: 328px;
    
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    /* or 133% */
    text-align: center;
    
    color: #FFFFFF
}

.h2hero {
    position: absolute;
    width: 426px;
    height: 56px;
    left: 387px;
    top: 488px;

    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
/* or 133% */
    text-align: center;

color: rgba(255, 255, 255, 0.7);

}

.logo {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
width: 63px;
height: 63px;
left: 569px;
top: 252px;
    
    background-image: url(../Assets/logo.png);

    
}